<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div clas="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Josh Moody</a>
		</div>

		<div class="collapse navbar-collapse">
			<p class="navbar-text pull-right hidden-phone">
				&raquo; husband, father, son, software developer, mac addict
			</p>
			<ul class="nav navbar-nav">
				<li id="about-tab"><a href="/">About</a></li>
				<li id="code-tab"><a href="/code/">Software Development</a></li>
				<li id="photography-tab"><a href="/photography/">Photography</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>  	
</div>
